<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ejercicio_clase11/styles.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="logo de mercado liebre">
        <nav>Acá va la barra de busqueda </nav> 
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href=""> Creá tu cuenta </a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        
        <seccion>
            <h3>Basado en tu última visita</h3>
            <ul>
                <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                <li>$6770</li>
                <li>40% OFF</li>
                <li>Cafetera Moulinex</li>
            </ul>
            <ul>
                <img src="\img\img-macbook-pro-2019.jpg" alt="macbook">
                <li>$230.000</li>
                <li>20% OFF</li>
                <li>Macbook Pro 2019</li>
            </ul>
            <ul>
                <img src="\img\img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
                <li>$70.500</li>
                <li>10% OFF</li>
                <li>Samsung Galaxy S10</li>
            </ul>
            <ul>
                <img src="\img\img-tv-samsung-smart.jpg" alt="smart TV">
                <li>$23.200</li>
                <li>5% OFF</li>
                <li>SmartTv Samsung 43</li>
            </ul>
            <ul>
                <img src="\img\img-tv-samsung-smart.jpg" alt="smart TV">
                <li>$23.200</li>
                <li>5% OFF</li>
                <li>SmartTv Samsung 43</li>
            </ul>
            <h3>Sección de Ofertas</h3>
            <ul>
                <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                <li>$6770</li>
                <li>40% OFF</li>
                <li>Cafetera Moulinex</li>
            </ul>
            <ul>
                <img src="\img\img-macbook-pro-2019.jpg" alt="macbook">
                <li>$230.000</li>
                <li>20% OFF</li>
                <li>Macbook Pro 2019</li>
            </ul>
            <ul>
                <img src="\img\img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
                <li>$70.500</li>
                <li>10% OFF</li>
                <li>Samsung Galaxy S10</li>
            </ul>
            <ul>
                <img src="\img\img-tv-samsung-smart.jpg" alt="smart TV">
                <li>$23.200</li>
                <li>5% OFF</li>
                <li>SmartTv Samsung 43</li>
            </ul>
            <ul>
                <img src="\img\img-tv-samsung-smart.jpg" alt="smart TV">
                <li>$23.200</li>
                <li>5% OFF</li>
                <li>SmartTv Samsung 43</li>
            </ul>


            <article>

            </article>
        </seccion>
    </main>
    <footer>

        <nav>
            <ul>
                <li><a>Pagá con tarjeta o en efectivo</a></li>
                <div>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro! </div>
                <li><a>Envío gratis desde los $2.500</a></li>
                <div>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </div>
                <li><a>Seguridad de princio a fin</a></li>
                <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</div>
                <li><a>Copyright © 1999-2020 MercadoLiebre S.R.L.</a></li>
            </ul>
        </nav>
    </footer>


</body>

</html>